@model BookVM  
@{
    ViewData["Title"] = "Delete";
}

<form asp-controller="Book" asp-action="Delete" enctype="multipart/form-data">
    <div class="row">
        <div class="col-mod-6">
            <div class="form-group">
                <label asp-for="Title" class="form-label mt-2"></label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Name">
                <span asp-validation-for="Title" class="text-danger"></span>


                
                <label asp-for="Description" class="form-label mt-2"></label>
                <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

                <label asp-for="CategoryId" class=" form-label mt-2"></label>
                <select class="form-select" asp-for="CategoryId " asp-items="Model.Categories">
                    <option></option>
                </select>



                <label asp-for="Author" class="form-label mt-2"></label>
                <input type="text" class="form-control" asp-for="Author">

                <span asp-validation-for="Author" class="text-danger"></span>




            </div>
            <button type="submit" class="btn btn-light mt-4">Save</button>
        </div>
        <div class="col-mod-6"> </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


